.widget-status-message, .widget-error-message {
	border: 1px solid #c00;
	background: #fac7c7;
	padding: 10px;
}

.widget-error-message {
	display: none;
}

.outerwrapper {
	width: 100%;
	min-height: 900px;
	position: relative;
	border: 1px solid #c8c7cf;
	display: none;

	.header {
		h2 {
			padding: 10px 15px;
			margin: 0;
		}

		p {
			padding: 0 15px;
			margin: 0;
		}
	}

	.toggle-buttons {
		margin: 10px 10px;

		button {
			display: inline-block;
			background-color: #eee;
			border: none;
			padding: 10px;
			border-radius: 4px;
			box-sizing: border-box;
			border: 1px solid #fff;

			transition: background-color 0.2s ease;

			&.selected {
				border: 1px solid #666;
				background-color: #ccc;
			}

			&:hover {
				background-color: #aaa;
			}

			&:active {
				background-color: #666;
			}
		}
	}

	.chart {
		position: relative;
		background-color: #65A6D3;
		line-height: 0;
		margin: 0 15px;

		h3 {
			position: absolute;
			margin: 0;
			top: 20px;
			left: 10px;
			z-index: 99;
			font-size: 1.5em;
			user-select: none;			
		}

		svg {
			cursor: crosshair;

			.country path {
				cursor: pointer;
			}
		}
	}

	// SVG Text
	.axis {
		font: 10px sans-serif;
		user-select: none;
	}

	// SVG brush
	.controls {
		margin: 0 15px;

		.axis .domain {
			fill: none;
			stroke: #000;
			stroke-opacity: .3;
			stroke-width: 10px;
			stroke-linecap: round;
		}

		.axis .halo {
			fill: none;
			stroke: #ddd;
			stroke-width: 8px;
			stroke-linecap: round;
		}

		.slider .handle {
			fill: #fff;
			stroke: #000;
			stroke-opacity: .5;
			stroke-width: 1.25px;
			cursor: crosshair;
		}
	}

	// Key

	.key {
		margin-bottom: 10px;

		h3 {
			padding: 10px 15px;
			margin: 0;
		}

		ul {
			margin: 0px 15px 0px 5px;
		}

		li {
				display: inline-block;
				margin-top: 5px;
				margin-left: 10px;
				padding-left: 5px;
				padding-top: 5px;
				padding-right: 5px;
				border-top-style: solid;
				border-top-width: 10px;
				line-height: 1em;
				border-left: 1px solid black;
				min-width: 60px;
		}
	}

	// Life cycle info box
	// ===============================================
	.info-box { 
		background-color: #ececec;
		margin: 0 15px 15px 15px;
		clear: both;

		.life-cycle-chart, .vaccination-chart {
			position: relative;
		}
		
		.life-cycle-header {
			padding: 15px 15px 5px;
			display: flex;
			justify-content: space-between;
	
			p {
				padding: 0;
				margin: 0;
				font-weight: bold;
			}
		}


		svg {
			margin: 0 0 10px 0;
		}

		.widget-tooltip {
			position: absolute;
			// width: 200px;
			height: auto;
			padding: 6px 10px 6px 15px;
			color: #ccc;
			background-color: #333;
			pointer-events: none;
			border-radius:5px;
			font-size: 0.8em;
			line-height: 1.4em;
			opacity: 1;
			transition: opacity 0.2s ease;

			p {
				padding: 0;
				margin: 0;
			}

			span {
				font-weight: bold;
				color: #fff;
			}
		}

		.hidden {
			opacity: 0;
			pointer-events: none;
		}

		// Special cases for SVG styling
		// ===============================================
		.axis, .numbersGroup {
			path, line {
				fill: none;
				stroke: #666;
				// shape-rendering: crispEdges;
			}
		}
	}
} // outerwrapper

