.status-message {
  border: 1px solid #c00;
  background: #fac7c7;
  padding: 10px;
}

.outerwrapper {
  width: 100%;
  min-height: 900px;
  position: relative;
  border: 1px solid #c8c7cf;
}
.outerwrapper .header h2 {
  padding: 10px 15px;
  margin: 0;
}
.outerwrapper .header p {
  padding: 0 15px;
  margin: 0;
}
.outerwrapper .chart {
  position: relative;
  background-color: #65A6D3;
  line-height: 0;
  margin: 0 15px;
}
.outerwrapper .chart h3 {
  position: absolute;
  margin: 0;
  top: 30px;
  left: 15px;
  z-index: 99;
  font-size: 2em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.outerwrapper .chart svg {
  cursor: crosshair;
}
.outerwrapper .chart svg .country path {
  cursor: pointer;
}
.outerwrapper .axis {
  font: 10px sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.outerwrapper .controls {
  margin: 0 15px;
}
.outerwrapper .controls .axis .domain {
  fill: none;
  stroke: #000;
  stroke-opacity: .3;
  stroke-width: 10px;
  stroke-linecap: round;
}
.outerwrapper .controls .axis .halo {
  fill: none;
  stroke: #ddd;
  stroke-width: 8px;
  stroke-linecap: round;
}
.outerwrapper .controls .slider .handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: .5;
  stroke-width: 1.25px;
  cursor: crosshair;
}
.outerwrapper .key {
  margin-bottom: 10px;
}
.outerwrapper .key h3 {
  padding: 10px 15px;
  margin: 0;
}
.outerwrapper .key ul {
  margin: 0;
}
.outerwrapper .key li {
  display: inline-block;
  margin-left: 15px;
  padding-left: 5px;
  border-left-style: solid;
  border-left-width: 15px;
  line-height: 1em;
}
.outerwrapper .info-box {
  background-color: #ececec;
  margin: 0 15px 15px 15px;
  clear: both;
}
.outerwrapper .info-box .life-cycle-chart {
  position: relative;
}
.outerwrapper .info-box .life-cycle-header {
  padding: 15px 15px 5px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.outerwrapper .info-box p {
  padding: 0;
  margin: 0;
}
.outerwrapper .info-box svg {
  margin: 0 0 10px 0;
}
.outerwrapper .info-box .widget-tooltip {
  position: absolute;
  height: auto;
  padding: 6px 10px 6px 15px;
  color: #ccc;
  background-color: #333;
  pointer-events: none;
  border-radius: 5px;
  font-size: 0.8em;
  line-height: 1.4em;
  opacity: 1;
  transition: opacity 0.2s ease;
}
.outerwrapper .info-box .widget-tooltip p {
  padding: 0;
}
.outerwrapper .info-box .widget-tooltip span {
  font-weight: bold;
  color: #fff;
}
.outerwrapper .info-box .hidden {
  opacity: 0;
  pointer-events: none;
}
.outerwrapper .info-box .axis path, .outerwrapper .info-box .axis line, .outerwrapper .info-box .numbersGroup path, .outerwrapper .info-box .numbersGroup line {
  fill: none;
  stroke: #666;
}
