.status-message {
  border: 1px solid #c00;
  background: #fac7c7;
  padding: 10px;
}

.outerwrapper {
  width: 100%;
  min-height: 900px;
  position: relative;
  border: 1px solid #c8c7cf;
}
.outerwrapper .axis {
  font: 10px sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.outerwrapper .axis .domain {
  fill: none;
  stroke: #000;
  stroke-opacity: .3;
  stroke-width: 10px;
  stroke-linecap: round;
}
.outerwrapper .axis .halo {
  fill: none;
  stroke: #ddd;
  stroke-width: 8px;
  stroke-linecap: round;
}
.outerwrapper .slider .handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: .5;
  stroke-width: 1.25px;
  cursor: crosshair;
}
.outerwrapper .key h3 {
  padding: 10px 15px;
  margin: 0;
}
.outerwrapper .key li {
  display: inline-block;
  margin-left: 15px;
  padding-left: 5px;
  border-left-style: solid;
  border-left-width: 15px;
  line-height: 1em;
}
